*{
    margin: 0;
    padding: 0;

}
.body{
    font-family: arial,sans-serif;
}

.flex__container{
    display: flex;
    justify-content: flex-end;
    font-size: small;
}
.flex__item {
    margin-right: 15px;
    margin-top: 20px;
    border-radius: 50%; 
}
.flex__item a{
    color: black;
    text-decoration: none;
    
}
.flex__item a:hover{
    text-decoration:underline;
}
.nav__ul{
    list-style: none;
    display: inline;
}
.image{
    text-align: center;
}
.text{
    text-align: center;
}
.btn{
    text-align: center;
    padding: 10px;
    
    
}
.lang__list{
    /* text-align: center; */
    text-align: center;
    font-size: small;
   
}
.searchbox{   
    width: 500px;
    padding: 11px;
    margin: 10px;
    border-radius: 15px;
    outline: 0;
    color: rgba(0,0,0,.87);
    /* border-color: rgba(241, 241, 241, 0.933); */
    border: 1px solid rgba(216, 214, 214, 0.933);
}
.btn1,.btn2{
     background-color:#fff6f6;
    /* box-shadow: 0 1px rgba(0,0,0,0.1);  */
    border: 1px solid #ffffff;
    border-radius: 4px;
    margin-right: 10px;
    width: 130px;
    padding: 10px;
    margin-top: 7px;
    cursor: pointer;
    user-select: none;
}
.btn1:hover,.btn2:hover{
    background-color:#f8f9fa;
    color: #202124;
    box-shadow: 0 1px rgba(0,0,0,0.1);
    border: 1px solid #dadce0;

}
.footer__h1{
margin-top: 20vh;
padding: 15px 30px;
border-bottom: 1px solid #cacaca;
border-top: 1px solid #cacaca;
font-size: 15px;
color: #70757a;
}
.section{
    margin-top: 17vh;
}
.footer__container{
    display: flex;
}
.container__item1,.anchor{

    padding: 5px 15px;
    font-size: 15px;
    color: #70757a;
    text-decoration: none;
}
.anchor:hover{
text-decoration: underline;
}

 